/* 主页index样式表 */

.announcement-bar{
    text-align: center;
    background-color: #ff6700;
    padding:10px;
}
.topbar-wrapper {
    /* 设置宽度为全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333333;
}
/* 设置超链接的颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}
/* 设置超链接移入的效果 */
.topbar a:hover{
    color: #fff;
}
/* 设置中间分隔线 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}
/* 设置左侧导航栏 */
.service, .topbar li {

    float: left;
}
/* 设置app下的小三角 */
.app::after{
    content:'';
    /* 设置绝对定位 */
    position: a;
}
/* 设置下载app的下拉 */
.app .qrcode{
    width: 124px;
    height: 148px;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); 
}
/* 设置二维码的图片 */
.app .qrcode img{
    /* 因为是四方形，所以设置完宽度，高度自动就生成了 */
    width: 90px;
    margin: 17px 17px;
    margin-bottom: 10px;
}
/* 设置二维码中的文字 */
.app .qrcode span{
    color: #000;
    font-size: 14px;
}
/* 中间这个逗号是非常关键的，没有它，下边这条指令就不存在 */
/* 设置右侧导航栏 */
.shop-cart ,.user-info{
    float: right;
}
.shop-cart{
    margin-left: 26px;
}
/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}
.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}
.shop-cart i{
    margin-right: 2px;
}