/* 主页index样式表 */

.announcement-bar{
    text-align: center;
    background-color: #ff6700;
    padding:10px;
}
.topbar-wrapper {
    /* 设置 */
    width: 100%;
    line-height: 40px;
    background-color: #333333;
}