/* 主页index样式表 */

.announcement-bar{
    text-align: center;
    background-color: #ff6700;
    padding:10px;
}
.topbar-wrapper {
    /* 设置宽度为全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333333;
}
/* 设置左侧导航栏 */
.service{
    float: left;
}
/* .shop-cart .user-info{ */
    float:right;
}